.parallax-window {
    min-height: 400px;
    background: transparent;
}
.center-vertical {
	display: flex;
	align-items: center;
	justify-content: center;
}
.projPic {
	width: 250px !important;
	height: auto;
	margin-bottom: 10px;
}